<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="top: 90px;">
    <form #pwdForm="ngForm" class="row myborder">
      <h4 style="color: #63bc4c; margin: initial; margin-bottom: 10px;">Reset Password</h4>
      <hr>

      <div class="input-group margin-bottom-20">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-lock mycolor"></i>
        </span>
        <input size="60" maxlength="255" class="form-control" placeholder="Password" [(ngModel)]="newPwd" #newPassword="ngModel"
          name="password" id="password1" type="password">
      </div>
      <p [hidden]="newPassword.valid || newPassword.pristine" style="color:red;">Enter valid password, at least 6 characters long.</p>

      <br>

      <div class="form-group">
        <input type="checkbox" onchange="document.getElementById('password1').type = this.checked ? 'text' : 'password'"> Show password
      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn-u pull-left" type="submit" (click)="confirmPassword()">Change Password</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p style="padding-top: 10px;">
          <a routerLink="/login">Return to login page</a>
        </p>
      </div>


    </form>
    <div class="col-md-2"></div>
  </div>
</div>