<nav id="menu" class="navbar navbar-default navbar-fixed-top" style="height: 70px;">


  <div class="probootstrap-header-top" >
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
       
            <a routerLink="/">
              <img src="assets/img/LOGO.png">
            </a>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
          <ul>
            <!-- <li>
              <a routerLink="/login" style="font-family:  'Ubuntu';color:#63bc4c;font-size:16px">Home</a>
            </li>| -->
            <li>
              <a (click)="logout()" style="font-family:  'Ubuntu';color:#63bc4c;font-size:16px">Log out</a>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>

</nav>