<!-- <app-nav-bar-dashboard></app-nav-bar-dashboard> -->
<div id="menu2" class="tab-pane fade">
    <h3 class="text-center">Quotations</h3>

    <div class="col-lg-10 col-md-offset-1">
        <div class="box">
            <header>
                <div class="toolbar">
                    <div class="btn-group">
                        <a routerLink="/adminQuotations" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                            <i class="fa fa-angle-up"></i>
                        </a>
                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </header>
            <div id="optionalTable" class="body collapse in">
                <div class="table-responsive responsive-table">
                    <table class="table responsive-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Company Name</th>
                                <th>Date Created</th>
                                <th>Ref</th>
                                <th>Recipient Name</th>
                                <th>Recipient Email</th>
                                <th>Recipient Phone</th>
                            </tr>
                        </thead>
                        <tbody class="hovering">
                            <tr>
                                <td>hhhhhh</td>
                                <td>hhhhhh</td>
                                <td>hhhhhh</td>
                                <td>hhhhhh</td>
                                <td>hhhhhh</td>
                                <td>hhhhhh</td>
                                <td>hhhhhh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>