<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="probootstrap-header-top" style="padding-top:15px">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
          <span style="font-family: 'Ubuntu';color:#63bc4c">
            <i class="fa fa-phone"></i>010 224 0164</span>

          <span style="font-family:  'Ubuntu';color:#63bc4c">
            <i class="fa fa-envelope"></i>Info@droppa.co.za</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
          <ul>
            <li>
              <a routerLink="/dashboard" style="font-family:  'Ubuntu';color:#63bc4c;font-size:16px">Home</a>
            </li>|
            <li>
              <a (click)="logout()" style="font-family:  'Ubuntu';color:#63bc4c;font-size:16px; cursor:pointer;">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>